body {
  background: #000000;
}

#out {
  color: #ffffff;
}

#machine {
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
}

.slots {
  width: 30%;
  height: 100px;
  color: white;
  align-content: center;
  display: inline;
  margin: auto;
  padding: 10px;
  border: 1px solid white;
}

#slot1 {
  font-size: 10px;
  align-content: center;
  margin: auto;
  display: inline-block;
  color: #ff0000;
}

#slot2 {
  font-size: 10px;
  align-content: center;
  margin: auto;
  display: inline-block;
  color: #00ff00;
}

#slot3 {
  font-size: 10px;
  align-content: center;
  margin: auto;
  display: inline-block;
  color: #0000ff;
}