body {
  background: #000000;
}

#out {
  color: #ffffff;
}

#machine {
  height: 500px;
  width: 100%;
  display: inline-block;
  color: white;
  text-align: center;
  border: 2px solid #ffffff;
}

.slots {
  width: 30%;
  height: 100px;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 1px;
  padding: 10px;
  border: 1px solid white;
}