body {
  background: #000000;
}

#out {
  color: #ffffff;
}

#machine {
  height: 800px;
  width: 100%;
  display: inline-block;
  color: white;
  text-align: center;
  border: 2px solid #ffffff;
  align-content: center;
}

.slots {
  width: 30%;
  height: 750px;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 1px;
  padding: 10px;
  border: 1px solid white;
  font-size: 250px;
}

#slot1 {
  animation-name: hue;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#slot2 {
  animation-name: hue;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}

#slot3 {
  animation-name: hue;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}

@keyframes hue {
  0% {color:white;}
  20% {color:red;}
  30% {color: orange;}
  40% {color:#49fb35;}
  50% {color: cyan;}
  60% {color:blue;}
  70% {color: indigo;}
  80% {color:purple;}
  90% {color: #555555;}
  100% {color: #aaaaaa;}
}