body {
  background: #000000;
}

#out {
  color: #ffffff;
}

#machine {
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
}

.slots {
  width: 30vw;
  height: auto;
  color: white;
  align-content: center;
  display: inline;
}